
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #f5f5f5;
}
/* ama main bar */
.nav1 {
    cursor: pointer;
    list-style: none;
    padding: 5px;
    height: 60px; 
    background-color: #005689;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}

.about{
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.social{
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
/* xwar main bar a mabastm main bara*/
.catagorty{
    width: 100%;
    height: 50px;
    box-shadow:  0px 10px 12px rgba(0,0,0,.10);
    background: white;
    cursor: pointer;

}

.name-catagory{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}


/* hawli sarataya xwar catagory */
.Headline-news{
    width: 95%;
    height: auto;
    margin: 20px auto;
    background: white;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}

.span-news{
    color: #ffa800;
    font-weight: bold;
    font-size: 20px;
}

.main-news{
    width: 72%;
    height: 70%;
    margin: 20px ;
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
}

.image-main-news{
    border-radius: 6px;
}

.about-main-news{
    width: 30%;
    height: 100%;
    margin: 20px ;
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.title-main-news{
    color: #7CA9C3;
    font-weight: bold;
    font-size: 14px;
}
.date-main-news{
    color: #FEA700;
    font-size: 16px;
}
.paragraph-main-news{
    color: black;
    font-size: 30px;
}
.First-news{
    width: 100%;
}

.reklam{
    background: #f5f5f5;
    position: absolute;
    right: 0;
    margin-right: 20px;
}


.section{
    width: 100%;
    background: white;
    display: grid;
}
    


.title-last-news-item{
    color: #7CA9C3;
    font-weight: bold;
    font-size: 14px;
}
.date-last-news-item{
    color: #FEA700;
    font-size: 14px;
}




.item-last-news{
    width: 79%;
    
    background: white;
    box-shadow: 10px 10px 12px rgba(0,0,0,.10);
}

.last-news-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    cursor: pointer;
}

.image-last-news1{
    margin-right: 20px;
    box-shadow: 10px 10px 12px rgba(0,0,0,.10);
}
/* background-color: #151820;
     background: linear-gradient(90deg, #26282f 21px, transparent 1%) center, linear-gradient(#26282f 21px, transparent 1%) center, #757a88;
*/



.sport-news{
    height: 100%;
    width: 100%;
    background: #26282f;
}

.grid-sport-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}
.grid-sport-news1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}
.main-sport-news-content1{
    width: 610px;
    height: 360px;
    background: #26282f;
    border-radius: 6px;
    box-shadow: 15px 15px 15px rgba(0,0,0,.10);
    cursor: pointer;
}
.position-title-sport-news{
    position: relative;
    bottom: 95px;
    padding: 20px;
}

.title-sport-news{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: start;
    margin-bottom: 0px;
}
.date-title-sport-news{
    color: #fea700;
    font-size: 14px;
}
.title-sport-news{
    font-size: 16px;
    line-height: 26px;
}

.date-sport-news-content{
    color: #fea700;
    font-size: 14px;
}

.sport-news-content{
    background: #26282f;
    width: 305px;
    height: 350px;
    border-radius: 6px;
    color: #005689;
    box-shadow: 10px 10px 12px rgba(0,0,0,.10);
}

.image-sport{
    border: solid;
    border-width: 2px;
    border-color: #fea700;
    border-radius: 6px;
}

.title-sport-news-content{
    font-size: 16px;
    line-height: 26px;
    color: #005689;
    font-weight: bold;
    padding: 20px;
}
.section-title-sport-news{
    color: #5C2D91;
}


.technology-news{
    height: 100%;
    width: 100%;
    background: white;
    cursor: pointer;
}
.section-title-technology-news{
    color: black;
}


.grid-technology-news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 20px;
}


.main-sport-technology-news{
    width: 600px;
    height: 350px;
    background: white;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.10);
    cursor: pointer;
}

.image-technology{
    border-radius: 6px;
}

.title-technology-news{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: start;
    margin-bottom: 0px;
}

.position-title-technology-news{
    position: relative;
    bottom: 95px;
    padding: 20px;
}

.date-title-technology-news{
    color: #fea700;
    font-size: 14px;
}

.technology-news-content{
    background: white;
    width: 300px;
    height: 350px;
    border-radius: 6px;
    color: #005689;
    box-shadow: 10px 10px 12px rgba(0,0,0,.10);
}


.title-technology-news-content{
    font-size: 16px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    padding: 20px;
}

.date-technology-news-content{
    color: #fea700;
    font-size: 14px;
}